* {
  box-sizing: border-box;
  cursor: none !important;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Chivo', sans-serif;    
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #E7ECEF;
}

/* Bottom Wave */

.custom-shape-divider-bottom-1696042419 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696042419 svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 223px;
}

.custom-shape-divider-bottom-1696042419 .shape-fill {
  fill: #0028BB;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(.98);
  }
  100% {
    transform: scale(1);
  }
}

/* Cursor */

.circle {
  height: 15px;
  width: 15px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

/* Back Button */

.icons-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex; /* Use flexbox to lay out the child elements in a row */
  gap: 5rem; /* Space between child elements */
  /* background-color: #0028BB; */
  background-color: #0035fe;
  padding: 1rem 2rem 1rem 2rem;
  z-index: 2;
  border-radius: 25px;
}

.home-label {
  display: flex;
  align-items: center; /* Align image and text vertically */
}

.home-label img {
  width: 2rem;
  height: 2rem;
  opacity: 75%;
  transition: 150ms ease-in-out;
}

.home-label:hover img {
  opacity: 100%;
  transform: scale(1.02);
}

p {
  opacity: 75%;
  font-size: .5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Chivo', sans-serif;    
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #fff;
  padding-top: 0.1rem;
}

.fPage{
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  flex-direction: column;
}

/* Body */

.container {
  color: #2b2d42;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: baseline;
}

.friends-section {
  padding-top: 100px;
  /* background-color: rgb(231, 231, 231);  */
  background-color: #edf2f4;
  display: flex;
  flex-direction: column;
  padding-left: 1rem; 
  flex: 1; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.250); 
  max-width: 20%; 
  padding-right: 2rem;
  height: 100%;
}

.friends-section h2 {
  margin-top: 0.3rem;
}

.home {
  opacity: 90%;
}

.home:hover{
  transform: scale(1.02);
  opacity: 100%;
}

h2 {
  margin-bottom: 0;
  font-weight: 200;
}

.friends-section ul {
  padding: 0;
  list-style-type: none;
}

.requests-section {
  display: flex;
  flex-direction: column;
  padding-left: 2rem; 
  width: 80%;
  height: 80%;
}

.requestsContainer{
  background-color: rgba(255, 255, 255, 0.7); 
  display: flex;
  height: 100%;
  width: 99%;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171); 
  border-radius: 5px;
  margin-top: 10px;
}

.FrContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FrContainer:first-child {
  margin-left: 1rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 350px; 
  border: none;
}

.friendsDiv form, .messages-wrapper{
  width: 50%;
}

form input {
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px 20px 10px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 1;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171); 
}

form input:focus{
  outline: none;
}

form button, #pfpSubmit {
  /* background: #0037feb9; */
  background: #0035fe;
  border: none;
  padding: 11px 20px; 
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form button:hover, #pfpSubmit:hover {
  background: rgba(2, 52, 235, 0.827)
}

table {
  width: 99%;
  border-spacing: 0 10px;
  border-collapse: collapse;
}

table th, table td {
  padding: 4px 6px;
  /* border: 1px solid #ccc; */
  text-align: left;
}

table th, table td {
  padding-left: 0;
  font-weight: 200;
}

table th {
   border-radius: 5px;
  font-weight: 400;
}

table th:first-of-type{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

table th:nth-of-type(2){
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

a {
 text-decoration: none;
}

.remove {
  color: rgb(179, 13, 13);
}

.remove, .accept {
  position: relative;
  display: inline-block;
  transition: 100ms ease-in-out, color 0.3s ease; /* Added color transition */
}

.accept {
  color: rgb(3, 172, 3);
  padding-right: 5px;
}

.accept:hover {
  color: rgb(6, 213, 6);
}

.remove:hover{
  color: red;
}

.messages-wrapper {
  position: relative;
}

.messages {
  text-transform: lowercase;
  font-weight: 400;
  position: absolute;
  top: -2.5em; 
  right: 0;
  left: 0;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  font-size: 0.75rem;
}

.friendsDiv{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.error {
  color: red;
}

.warning {
  color: rgb(173, 110, 26);
}

.success {
  color: rgb(3, 172, 3);
}

.distance-selector, .color-selector{
  position: absolute; 
  top: 10px; 
  right: 10px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 5px 10px; 
  border-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 230px; 
}


.color-selector {
  top: 60px;
}

.distance-selector label, .color-selector label {
  font-size: 0.9rem; 
  margin-right: 5px; 
}

.distance-selector select, .color-selector select {
  padding: 5px;
  font-size: 0.9rem; 
  border-radius: 5px;
  border: 1px solid #ccc; 
  background-color: #fff; 
  cursor: none;
}

.color-selector select {
  padding-left: 10px;
  width: 78px;
}

body.night-mode {
  background-color: #242f3e;
}

body.night-mode h2 {
  color: #fca311;
}

body.night-mode .requestsContainer, body.night-mode .friends-section {
  background-color: #37475e;
}

body.night-mode td, body.night-mode th {
    color: #c8ccd1;
}

body.night-mode .remove {
  color: rgb(209, 30, 30);
}

body.night-mode .remove:hover {
  color: red;
}

body.retro-mode {
  background-color: #dccfa9;
}

body.retro-mode h2 {
  color: #0075A2;
}

body.retro-mode .requestsContainer, body.retro-mode .friends-section {
  background-color: #ebe3cd;
}

.carousel-cell {
  height: 95%;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.carousel-cell img{
  border-radius: 5px;
  width: 75px;
  height: 65px !important;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: rgba(2, 52, 235, 0.827);
}
.flickity-button:hover {
  background: #0035fe;
}

.flickity-prev-next-button {
  top: 30px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

/* remove dots */
.flickity-page-dots {
  display: none;
}

.icon-selector {
  position: absolute; 
  right: 250px;
  top: 10px;
  width: 600px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 5px 10px; 
  /* border-radius: 5px; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 100ms ease-in-out;
}

#pfpSubmit {
  position: absolute;
  padding: 5px 10px 5px 10px;
  width: 600px;
  top: 100px;
  right: 250px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.icon-selector h3 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: .9rem;
  color: #2b2d42;
  font-family: 'Chivo', sans-serif;
}

.is-selected img{
  background-color: rgb(226, 226, 226); 
  border: 3px dashed black;
}