* {
  cursor: none !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

.icons-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5rem;
  background-color: #0035fe;
  padding: 1rem 2rem;
  border-radius: 25px;
  z-index: 2;
}

.home-label, .fPage {
  display: flex;
  align-items: center;
}

.home-label {
  flex-direction: row;
}

.fPage {
  height: 2.5rem;
  width: 2.5rem;
  flex-direction: column;
}

.home-label img, .home {
  width: 2rem;
  height: 2rem;
  opacity: 75%;
  transition: 150ms ease-in-out;
}

.home-label:hover img, .home:hover {
  opacity: 100%;
  transform: scale(1.02);
}

p {
  opacity: 75%;
  font-size: .5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Chivo', sans-serif;    
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  padding-top: 0.1rem;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  pointer-events: none;
  z-index: 3;
}

.map-control, .legend, .selector-control, .gmnoprint div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'Chivo', sans-serif;
}

.map-control {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1;
  border: none;
}

.selector-control {
  font-size: .9rem;
  padding: 5px 10px;
  border: none;
}

.selector-control:focus {
  outline: none;
}

/* Overrides for Google Maps UI elements */
.gmnoprint div {
  border-radius: 10px !important;
}

.gm-style-cc {
  display: none !important;
}

.gm-style div div a div img {
  display: none;
}

/* Friend's Legend */

.legend {
  background: rgba(255, 255, 255, 0.90);
  position: absolute;
  width: 118px;
  top: 45px;
  right: 10px;
  padding: 10px;
  z-index: 1;
  font-size: 0.9em;
  text-align: center;
}

.legend-title {
  display: inline-flex;
}

.legend-title img {
  height: 15px;
  width: 15px;
  margin-left: 2;
}

.legend h3 {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 5px;
}

.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  color: #fff;
  margin-bottom: 5px;
  letter-spacing: 1px;
  background: rgba(0, 55, 254, 0.85);
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.legend li:hover {
  transform: scale(1.02);
  background: rgba(0, 55, 254, 100);
}