#map {
    height: 100%;
    width: 100%;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .home-label img {
    width: 2rem;
    height: 2rem;
    opacity: 50%;
    transition: 100ms ease-in-out;
  }
  
  
  .home-label:hover img{
    opacity: 100%;
  }
  
  .home-label{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    user-select: none;
    background-color: rgba(16,16,28,.4);
    color: #fff;
    border-radius: 15%;
    overflow: hidden;
    /* padding: 0.3rem .5rem; */
    padding: 0.3rem .5rem 0rem .5rem;
  }