<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/map.css"/>
    <title>FriendHub</title>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
    <!-- prettier-ignore -->
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBReo62Mw5o78KeT9hrg--ZlOc5cJTE40k&callback=initMap" defer> </script>

    <script>
let map;
function initMap() {
  // The location of Chico 
  const position = { lat: 39.7285, lng: -121.8375 };
  // Request needed libraries.
  //@ts-ignore
  // const { Map } = google.maps.importLibrary("maps");
  const { AdvancedMarkerElement } = google.maps.importLibrary("marker");

  // The map, centered at Chico
  map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: position,
    // mapId: "DEMO_MAP_ID",
  });



  const marker = new google.maps.Marker({
    map: map,
    position: position,
    title: "Chico",
  });
}

window.initMap = initMap;
      </script>
  </html>