<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% include "header.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}?v=1.01"/>
  </head>
  <body>
    <img style = "margin: 15px; position: absolute; height: 90px; width: 90px;" src = "/static/images/logo.svg" /> </div>
    {% include "cursorWave.html" %}
    <div class = "body-wrapper">
      <div class = "menu-wrapper">
        <a href = "/friendList/" class = "menu-button" tabindex="3" draggable="false">
          <i class="menu-title fa-solid fa-user-group"></i>
          <span class = "menu-title">FRIENDS</span>
        </a>
        <a href = "/map/" id = "play" class = "menu-button" tabindex="2" draggable="false">
          <i class="fa-solid fa-map menu-title"></i>
          <span class = "menu-title">MAP</span>
        </a>
        <a href = "/logout/" class = "menu-button" tabindex="5" draggable="false">
            <i class="menu-title fa-solid fa-right-from-bracket"></i>
            <span id = "logout" class = "menu-title">LOGOUT</span>
        </a>
      </div>
    </div>
  </body>
  <script src="../static/js/cursor.js"></script>
  </html>