<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% include "header.html" %}
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/map.css' %}?v=1.04"/>
  </head>
  <body>
    {% include "cursorWave.html" %}
    <a href = "/map">
        <img title = "FriendHub Home" class = "home" style = "background: white;  border-radius: 50%; transition: 150ms ease-in-out; margin: 15px; position: absolute; height: 90px; width: 90px; z-index: 2;" src = "/static/images/logo.svg" /> </div>
    </a>    
    <div class="icons-container">
        <div class = "fPage">
            <a href="/friendList" class="home-label">
                <img title="view friends page" src="{% static 'images/friend.svg' %}" >
            </a>
            <p>friends</p>
        </div>
        <div class = "fPage">
            <a href="/logout" class="home-label">
                <img title="logout" src="{% static 'images/logout.svg' %}">
            </a>
            <p>logout</p>
        </div>
    </div>
    <div id="style-selector-control" class="map-control">
        <select id="style-selector" class="selector-control">
          <option hidden value = "">loading style...</option>
          <option value="default">default</option>
          <option value="night">night mode</option>
          <option value="retro">retro</option>
        </select>
      </div>    
    <div id="map"></div>
    <script type="text/javascript" src="{% static '../static/js/styles.js' %}"></script>
    <script src="{% url 'gMap' %}" defer></script>
    <script>
    /*
        styles object is moved to styles.js in the static dir, and is imported using the script tag
    */

    // load map theme from local storage and set it as the selected option
    function loadMapThemeFromLocalStorage() {
        const storedTheme = localStorage.getItem('mapTheme');
        const styleSelector = document.getElementById('style-selector');
        if (storedTheme) {
            styleSelector.value = storedTheme;
        }
    }

    // save the selected map theme to local storage
    function saveMapThemeToLocalStorage(theme) {
        localStorage.setItem('mapTheme', theme);
    }

    // initialize Google Map
    function initMap() {
        const position = { lat: {{ latitude|safe }}, lng: {{ longitude|safe }} };
        // the google map background
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: position,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
        });

        // get radius based on user preference
        function getRadiusFromPreference(preference) {
            switch (preference) {
                case 1: return 0; // Exact location
                case 2: return 500; // 500m
                case 3: return 1000; // 1000m
                case 4: return 2500; // 2500m
                case 5: return 5000; // 5000m
                default: return 100; // Default
            }
        }

        // get color based on user preference
        function getColorFromPreference(preference) {
            switch (preference) {
                case 1: return "#007bff"; // blue
                case 2: return "#DC2D07"; // red
                case 3: return "#234F1E"; // aqua
                case 4: return "#F506FF"; // pink
                default: return "#007bff"; // default
            }
        }

        // put  friend locations on map
        const friendsDetails = {{ friends_details|safe }};
        friendsDetails.forEach(friend => {
            // for each friend
            const friend_position = { lat: friend.latitude, lng: friend.longitude };
            const color_pref = getColorFromPreference(friend.color);
            const infoWindow = new google.maps.InfoWindow();
            // if the friend wants their exact location show, add a marker at their exact location
            if (friend.distancePreference === 1) { // 1 = exact location
                const marker = new google.maps.Marker({
                    position: friend_position,
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        fillColor: color_pref, 
                        fillOpacity: 1,
                        strokeColor: 'black',
                        strokeWeight: 2,
                        scale: 8 
                    },
                });
                // add an event listener to the marker (if a user clicks on the marker, tell them who is in the marker)
                marker.addListener('click', () => {
                    infoWindow.setContent(`At this location: ${friend.username}`);
                    infoWindow.setPosition(friend_position);
                    infoWindow.open(map);
                });
            } 
            // else a user wants to hide etheir location, so hide them in a circle
            else { 
                // get how big of a circle
                const friend_radius = getRadiusFromPreference(friend.distancePreference);
                // create the circle
                const circle = new google.maps.Circle({
                    map: map,
                    center: friend_position,
                    radius: friend_radius,
                    fillColor: color_pref,
                    fillOpacity: 0.2,
                    strokeColor: color_pref,
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                });
                // add an event listener to the circle (if a user clicks on the circle, tell them who is in the marker)
                circle.addListener('click', () => {
                    const circleTop = {
                        lat: (friend_position.lat + (0.0009 * (friend_radius / 100))),
                        lng: friend_position.lng
                    };
                    infoWindow.setContent(`In the circle: ${friend.username}`);
                    infoWindow.setPosition(circleTop);
                    infoWindow.open(map);
                });
            }
        });

        // handle map style based on user preference
        const styleSelector = document.getElementById('style-selector');
        const storedTheme = localStorage.getItem('mapTheme');
        if (storedTheme) {
            map.setOptions({ styles: styles[storedTheme] });
        } else {
            map.setOptions({ styles: styles[styleSelector.value] });
        }
        // map style change
        styleSelector.addEventListener('change', () => {
            const selectedStyle = styleSelector.value;
            if (selectedStyle) {
                map.setOptions({ styles: styles[selectedStyle] });
                saveMapThemeToLocalStorage(selectedStyle);
            }
        });
    }

    window.initMap = initMap;
    window.onload = loadMapThemeFromLocalStorage; // load map theme when window loads
    </script>
    </body>
    <script src="../static/js/cursor.js"></script>
</html>