<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% include "header.html" %}
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/map.css' %}?v=1.03"/>
  </head>
  <body>
    {% include "cursorWave.html" %}
    <a href = "/map">
        <img title = "FriendHub Home" class = "home" style = "background: white;  border-radius: 50%; transition: 150ms ease-in-out; margin: 15px; position: absolute; height: 90px; width: 90px; z-index: 2;" src = "/static/images/logo.svg" /> </div>
    </a>    
    <div class="icons-container">
        <div class = "fPage">
            <a href="/friendList" class="home-label">
                <img title="view friends page" src="{% static 'images/friend.svg' %}" >
            </a>
            <p>friends</p>
        </div>
        <div class = "fPage">
            <a href="/logout" class="home-label">
                <img title="logout" src="{% static 'images/logout.svg' %}">
            </a>
            <p>logout</p>
        </div>
    </div>
    <div id="style-selector-control" class="map-control">
        <select id="style-selector" class="selector-control">
          <option value = "">Select a style</option>
          <option value="default">Default</option>
          <option value="night">Night mode</option>
          <option value="retro">Retro</option>
        </select>
      </div>    
    <div id="map"></div>
    <script src="{% url 'gMap' %}" defer></script>
    <script>
    const styles = {
        default: [], 
        night: [
            { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
            { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
            { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
            {
                featureType: "administrative.locality",
                elementType: "labels.text.fill",
                stylers: [{ color: "#d59563" }],
            },
            {
                featureType: "poi",
                elementType: "labels.text.fill",
                stylers: [{ color: "#d59563" }],
            },
            {
                featureType: "poi.park",
                elementType: "geometry",
                stylers: [{ color: "#263c3f" }],
            },
            {
                featureType: "poi.park",
                elementType: "labels.text.fill",
                stylers: [{ color: "#6b9a76" }],
            },
            {
                featureType: "road",
                elementType: "geometry",
                stylers: [{ color: "#38414e" }],
            },
            {
                featureType: "road",
                elementType: "geometry.stroke",
                stylers: [{ color: "#212a37" }],
            },
            {
                featureType: "road",
                elementType: "labels.text.fill",
                stylers: [{ color: "#9ca5b3" }],
            },
            {
                featureType: "road.highway",
                elementType: "geometry",
                stylers: [{ color: "#746855" }],
            },
            {
                featureType: "road.highway",
                elementType: "geometry.stroke",
                stylers: [{ color: "#1f2835" }],
            },
            {
                featureType: "road.highway",
                elementType: "labels.text.fill",
                stylers: [{ color: "#f3d19c" }],
            },
            {
                featureType: "transit",
                elementType: "geometry",
                stylers: [{ color: "#2f3948" }],
            },
            {
                featureType: "transit.station",
                elementType: "labels.text.fill",
                stylers: [{ color: "#d59563" }],
            },
            {
                featureType: "water",
                elementType: "geometry",
                stylers: [{ color: "#17263c" }],
            },
            {
                featureType: "water",
                elementType: "labels.text.fill",
                stylers: [{ color: "#515c6d" }],
            },
            {
                featureType: "water",
                elementType: "labels.text.stroke",
                stylers: [{ color: "#17263c" }],
            },
            {
                featureType: "road",
                elementType: "labels.icon",
                stylers: [{ visibility: "off" }],
            },
        ],
        retro: [
            { elementType: "geometry", stylers: [{ color: "#ebe3cd" }] },
            { elementType: "labels.text.fill", stylers: [{ color: "#523735" }] },
            { elementType: "labels.text.stroke", stylers: [{ color: "#f5f1e6" }] },
            {
                featureType: "administrative",
                elementType: "geometry.stroke",
                stylers: [{ color: "#c9b2a6" }],
            },
            {
                featureType: "administrative.land_parcel",
                elementType: "geometry.stroke",
                stylers: [{ color: "#dcd2be" }],
            },
            {
                featureType: "administrative.land_parcel",
                elementType: "labels.text.fill",
                stylers: [{ color: "#ae9e90" }],
            },
            {
                featureType: "landscape.natural",
                elementType: "geometry",
                stylers: [{ color: "#dfd2ae" }],
            },
            {
                featureType: "poi",
                elementType: "geometry",
                stylers: [{ color: "#dfd2ae" }],
            },
            {
                featureType: "poi",
                elementType: "labels.text.fill",
                stylers: [{ color: "#93817c" }],
            },
            {
                featureType: "poi.park",
                elementType: "geometry.fill",
                stylers: [{ color: "#a5b076" }],
            },
            {
                featureType: "poi.park",
                elementType: "labels.text.fill",
                stylers: [{ color: "#447530" }],
            },
            {
                featureType: "road",
                elementType: "geometry",
                stylers: [{ color: "#f5f1e6" }],
            },
            {
                featureType: "road.arterial",
                elementType: "geometry",
                stylers: [{ color: "#fdfcf8" }],
            },
            {
                featureType: "road.highway",
                elementType: "geometry",
                stylers: [{ color: "#f8c967" }],
            },
            {
                featureType: "road.highway",
                elementType: "geometry.stroke",
                stylers: [{ color: "#e9bc62" }],
            },
            {
                featureType: "road.highway.controlled_access",
                elementType: "geometry",
                stylers: [{ color: "#e98d58" }],
            },
            {
                featureType: "road.highway.controlled_access",
                elementType: "geometry.stroke",
                stylers: [{ color: "#db8555" }],
            },
            {
                featureType: "road.local",
                elementType: "labels.text.fill",
                stylers: [{ color: "#806b63" }],
            },
            {
                featureType: "transit.line",
                elementType: "geometry",
                stylers: [{ color: "#dfd2ae" }],
            },
            {
                featureType: "transit.line",
                elementType: "labels.text.fill",
                stylers: [{ color: "#8f7d77" }],
            },
            {
                featureType: "transit.line",
                elementType: "labels.text.stroke",
                stylers: [{ color: "#ebe3cd" }],
            },
            {
                featureType: "transit.station",
                elementType: "geometry",
                stylers: [{ color: "#dfd2ae" }],
            },
            {
                featureType: "water",
                elementType: "geometry.fill",
                stylers: [{ color: "#b9d3c2" }],
            },
            {
                featureType: "water",
                elementType: "labels.text.fill",
                stylers: [{ color: "#92998d" }],
            },
            {
                featureType: "road",
                elementType: "labels.icon",
                stylers: [{ visibility: "off" }],
            },
        ],
    };

    // this function checks if a theme is stored in local storage and sets it as the selected option.
    function loadMapThemeFromLocalStorage() {
        const storedTheme = localStorage.getItem('mapTheme');
        if (storedTheme && document.getElementById('style-selector').value != "") {
          document.getElementById('style-selector').value = storedTheme;
        }
    }

    // this function saves the selected theme to local storage.
    function saveMapThemeToLocalStorage(theme) {
        localStorage.setItem('mapTheme', theme);
    }

    function initMap() {
        const position = { lat: {{ latitude|safe }}, lng: {{ longitude|safe }} };
        // Initialize map centered at the given position
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: position,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
        });

        function getRadiusFromPreference(preference) {
            switch (preference) {
                case 1: return 0;       // Exact location, so no circle
                case 2: return 500;    // 500m
                case 3: return 1000;   // 1000m
                case 4: return 2500;   // 2500m
                case 5: return 5000;   // 5000m
                default: return 100;   // Default to 100m
            }
        }

        // Handle friends' locations
        const friendsDetails = {{ friends_details|safe }};
            for (let friend of friendsDetails) {
            try {
                const friend_position = { lat: friend.latitude, lng: friend.longitude };
                // If the user wants their exact location shown
                if (friend.distancePreference === 1) {
                    new google.maps.Marker({
                        position: friend_position,
                        map: map,
                        title: `${friend.username} is here`
                    });
                } else {
                    // User does not want exact location shown so make a radius
                    const friend_radius = getRadiusFromPreference(friend.distancePreference);
                    const circle = new google.maps.Circle({
                        map: map,
                        center: friend_position,
                        radius: friend_radius,
                        fillColor: "#007bff",
                        fillOpacity: 0.2,
                        strokeColor: "#007bff",
                        strokeOpacity: 0.8,
                        clickable: true,
                        strokeWeight: 2,
                    });

                // Create an info window for this friend
                const infoWindow = new google.maps.InfoWindow();

                    // Add an event listener to the circle
                    google.maps.event.addListener(circle, 'click', function(event) {
                        // Calculate the center of the circle manually
                        const circleTop = {
                            lat: (friend_position.lat + (0.0009 * (friend_radius / 100))), // Adjusted latitude
                            lng: friend_position.lng
                        };
                        // Set the content for the info window
                        infoWindow.setContent(`In the circle: ${friend.username}`);
                        // Open the info window at the calculated center
                        infoWindow.setPosition(circleTop);
                        infoWindow.open(map);
                    });
                }
            } catch (e) {
                console.error("BRUUUHHHH");
            }
        }
        // add a style-selector control to the map.
        const styleControl = document.getElementById("style-selector-control");

        // set the map's style to the initial value of the selector.
        const styleSelector = document.getElementById('style-selector');
        
        // check if a theme is stored in local storage and apply it.
        const storedTheme = localStorage.getItem('mapTheme');
        if (storedTheme) {
          styleSelector.value = storedTheme;
          map.setOptions({ styles: styles[storedTheme] });
        } else {
          map.setOptions({ styles: styles[styleSelector.value] });
        }

        // apply new JSON when the user selects a different style.
        styleSelector.addEventListener('change', () => {
          if(document.getElementById('style-selector').value != ""){
            map.setOptions({ styles: styles[styleSelector.value] });
            saveMapThemeToLocalStorage(styleSelector.value); // Save the selected theme to local storage.
          }
        });
      }

      window.initMap = initMap;
      window.onload = loadMapThemeFromLocalStorage; // Load the theme from local storage when the window is loaded
    </script>
    </body>
    <script src="../static/js/cursor.js"></script>
</html>